<%= form_for(@program) do |f| %>
  <%= render "shared/error_messages", target: @program %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :color, "Select color for calendar entry:" %><br />
    <%= f.select(:color, [['maroon', 'maroon'], ['red', 'red'], ['purple', 'purple'], ['fuchsia', 'fuchsia'], ['green', 'green'], ['lime', 'lime'], ['olive', 'olive'], ['navy', 'navy'], ['blue', 'blue'], ['teal', 'teal'], ['aqua', 'aqua']]) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
