<h1 class="page_title">All programs</h1>
<div class="page_content">
  <p>At GA we take great pride in Art party pariatur Tonx drinking vinegar, aliqua bespoke sunt semiotics non  jean shorts do McSweeney's sriracha tilde selfies.  Scenester viral Cosby sweater, you probably haven't heard of them +1 twee banjo nostrud nulla  flexitarian kitsch ut.  Assumenda accusamus sustainable, iPhone culpa  trust fund Wes Anderson yr American Apparel pour-over artisan tousled placeat wayfarers.  Austin umami post-ironic Intelligentsia nostrud cillum.  XOXO Godard eiusmod, adipisicing Austin jean shorts art party fugiat  scenester qui  3 wolf moon fingerstache.  Pug Carles aute  cold-pressed crucifix.  Pariatur sed cillum, mustache readymade American Apparel authentic cred deserunt  Kickstarter proident.</p>

  <table>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @programs.each do |program| %>
    <tr>
      <td><%= program.name %></td>
      <td><%= program.code %></td>
      <td><%= link_to 'Show', program %></td>
      <% if can? :update, Program %>
      <td><%= link_to 'Edit', edit_program_path(program) %></td>  
      <% end %>
      <% if can? :destroy, Program %>
      <td><%= link_to 'Destroy', program, method: :delete, data: { confirm: 'Are you sure?' } %></td>  
      <% end %>
    </tr>
    <% end %>
  </table>

  <br />
  <% if can? :create, Program %>
  <%= link_to 'New Program', new_program_path %>  
  <% end %>
</div>