<%= form_for(@user) do |f| %>
  <%= render "shared/error_messages", target: @user %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :user_image, "Upload a profile picture form your computer..." %>
    <%= f.file_field :user_image %>
    <br /><br />
    <%= f.label :remote_user_image_url, "...or from the web..." %>
    <%= f.text_field :remote_user_image_url %>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
