<%= form_for(@classroom) do |f| %>
<%= render "shared/error_messages", target: @classroom %>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, placeholder: "e.g. London" %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country, placeholder: "e.g. England" %>
  </div>

  <div class="field">
    <%= f.label :capacity %><br />
    <%= f.number_field :capacity, min: 0 %>
  </div>
  <div class="actions">

    <%= f.submit %>
  </div>
  <% end %>
