<table class="courses_table">
  <tr>
    <th>Program</th>
    <th>Course Code</th>
    <th>Start date</th>
    <th>End date</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% target.each do |course| %>
    <tr>
      <td><%= course.program.name %></td>
      <td><%= course.code %></td>
      <td><%= course.start_date %></td>
      <td><%= course.end_date %></td>
      <td><%= course.classroom.city %></td>
      <td><%= link_to 'Show', course %></td>
      <% if can? :update, Course %>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>        
      <% end %>
      <% if can? :destroy, Course  %>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>  
      <% end %>
    </tr>
  <% end %>
</table>