<%= form_for(@course) do |f| %>
  <%= render "shared/error_messages", target: @course %>

  <!-- belongs_to :category -->
  <div class="field">
    <%= f.label :program_id %><br />
    <%= f.collection_select :program_id, Program.order("name ASC"), :id, :name %>
  </div>

  <!-- course attributes -->

  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>

  <!-- fields needed to create booking  -->
  <div>
    <%= f.label :classroom_id %><br />
    <%= f.collection_select :classroom_id, Classroom.order("country ASC"), :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
