<%= form_for(@course) do |f| %>
  <%= render "shared/error_messages", target: @course %>

  <!-- belongs_to :category -->
  <div class="field">
    <%= f.label :program_id %><br />
    <%= f.collection_select :program_id, Program.order("name ASC"), :id, :name %>
  </div>

  <!-- course attributes -->
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.text_field :start_date, class: "datepicker" %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.text_field :end_date, class: "datepicker" %>
  </div>

  <!-- needed to create booking instance  -->
  <div>
    <%= f.label :classroom_id %><br />
    <%= f.collection_select :classroom_id, Classroom.order("country ASC"), :id, :name %>
  </div>

  <!-- needed to manage course partication  -->
  <div>
    <%= f.fields_for :admissions do |builder| %>
    <div>
      <%= builder.object.user.email %>
      <%= builder.hidden_field :user_id %>
      <%= builder.label :status, "Application status" %>
      <%= builder.select(:status, [['pending', 'pending'], ['accepted', 'accepted'], ['declined', 'declined'], ['completed', 'completed'], ['withdrawn', 'withdrawn'], ['instructor', 'instructor']]) %>
    </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
