<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- belongs_to :category -->
  <div class="field">
    <%= f.label :program_id %><br />
    <%= f.collection_select :program_id, Program.order("name ASC"), :id, :name %>
  </div>

<!-- course attributes -->
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>

<!-- classroom selector (nested attribute through bookings table) -->
  <%= f.label :classroom_id %><br />
  <%= f.collection_select :classroom_ids, Classroom.order("country ASC"), :id, :cityroom %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
