<!DOCTYPE html>
<html>
<head>
  <title>ScheduleApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "event_calendar" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="user_nav">
    <div id="user_nav_left">
      <% if current_user %>
      <%= image_tag(current_user.user_image.thumb.url, id: "user_thumb") %>
      <p>Logged in as: <%= current_user.email %></p>
      <% end %>
    </div>
    <div id="user_nav_right">
      <% if current_user %>
      <%= link_to "Log out", log_out_path %>
      <%= link_to "Profile page", user_path(current_user) %>
      <% else %>
      <%= link_to "Sign up", sign_up_path %>
      <%= link_to "Log in", log_in_path %>
      <% end %>
    </div>
  </div>

  <nav id="site_nav">
    <%= link_to "Home", root_path %>
    <%= link_to "Programs", programs_path if can? :read, Program %>
    <%= link_to "Courses Schedule", courses_path if can? :read, Course %>
    <%= link_to "Classrooms", classrooms_path if can? :read, Classroom %>
    <%= link_to "Users", users_path if can? :read, User %>
  </nav>

  <div>
    <% flash.each do |name, msg| %>
    <div class="flash-message flash-message-<%= name %>">
      <%= msg %>
    </div>
    <% end %>
  </div>



  <div id="yield_container">
    <%= yield %>
  </div>

</body>
</html>
